*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100%;
    background-color: rgb(214, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(214, 135, 135);
    
}
button{
    padding: 1vw 5vw;
    border: 1px solid white;
    border-radius: 1vw;
    font-size: 1.5vw;
    background-color: rgb(99, 219, 99);
    cursor: pointer;
}
#panel{
    width: 80%;
   height: 98%;
    background-color: #fff;
    border-radius: 0.5vw;
    overflow: hidden;
    
}
#ptop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18vw;
    width: 100%;
    height: 5.5vw;
    background-color: rgb(143, 79, 79);
}
.elem{
    display: flex;
    align-items: center;
    gap: 0.8vw;
}
.elem h2{
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;

}
.box{
    width: 3vw;
    height: 3vw;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: #fff;
    border-radius: 0.5vw;
    color: rgb(58, 26, 26);
}

#pbtm{
    height: calc(100% - 5.5vw);
    width: 100%;
    padding: 0.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5vw;
}
.circle{
    height: 3vw;
    width: 3vw;
    background-color: rgb(214, 135, 135);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(58, 26, 26);
    font-size: 1.1vw;
    font-weight: 500;
}
.circle:hover{
    cursor: pointer;
    background-color: rgb(175, 113, 117);

}